body {
  height: 100%;
}
h1 {
  text-align: center;
}
#banner {
  /* width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  text-align: center;
}
#container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#timer {
  width: 100%;
  /* border: 3px solid #53a7ea; */
  text-align: center;
  font-size: 60px;
  margin: auto;
}
#or {
  font-size: 1rem;
}
#emp {
  color: orangered;
}
